{{ if (or .Params.categories .Params.tags) }}
  <ul class="flex flex-row flex-wrap justify-end text-gray-500 dark:text-gray-300">
    {{ if .Params.categories }}
      {{ range (.GetTerms "categories") }}
      <li>
        <a href="{{ .RelPermalink }}"
          class="text-xs mr-2 px-2 py-1 rounded-md font-medium font-mono uppercase bg-blue-100 text-blue-600 dark:bg-blue-900 dark:text-blue-100">
          {{ .LinkTitle }}
        </a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
