{{- $people := .GetTerms "people" -}}
{{- if $people -}}
{{- $hasImages := false -}}
{{- range $person := $people -}}
  {{- if $person.Params.image -}}
    {{- $image := .Resources.Get $person.Params.image -}}
    {{- if $image -}}
      {{- $hasImages = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<div class="flex flex-col gap-y-1 md:flex-row md:gap-y-0 md:gap-x-4">
  <div class="flex flex-row text-base gap-x-1 flex-wrap">
    {{- if $hasImages -}}
    {{- range $index, $person := $people -}}
    {{ if $person.Params.image }}
    {{ $image := .Resources.Get $person.Params.image }}
    {{ if $image }}
    <div class="flex-shrink-0 -mr-3">
      <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="w-6 h-6 rounded-full object-cover shadow-md">
    </div>
    {{ end }}
    {{ end }}
    {{- end -}}
    <div class="w-3"></div>
    {{- end -}}

    {{- range $index, $person := $people -}}
    {{- if $index -}}<span class="-ml-1">, </span>{{ end -}}
    <a href="{{ $person.RelPermalink }}" class="hover:underline">
      {{- $person.LinkTitle -}}
    </a>
    {{- end -}}
  </div>
</div>
{{- end -}}
